In [5]:
import numpy as np
from pandas import DataFrame
import pandas as pd

In [22]:
df = pd.read_csv('data3/shuffeled.txt', sep='\t')
# ucitavam ceo dataset
df.head(5)

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,STL,BLK,PF,TOV,PTS,YR,POS,W,H,NAME
0,61,3,8.0,1.03,2.92,0.354,0.15,0.41,0.36,0.64,...,0.41,0.02,0.89,0.92,2.85,2,12,84,191,Tyshawn Taylor
1,432,278,31.0,5.76,13.43,0.429,0.14,0.56,0.25,1.97,...,1.06,0.26,2.04,1.58,13.64,8,2,95,201,Ron Mercer
2,786,168,20.4,2.39,5.87,0.407,0.66,1.88,0.35,1.07,...,0.69,0.11,2.16,1.49,6.51,1,12,80,188,Howard Eisley
3,84,4,9.9,1.30,3.50,0.371,0.23,0.87,0.26,0.48,...,0.30,0.05,0.96,0.85,3.30,2,12,86,188,Nolan Smith
4,70,3,11.1,0.80,1.66,0.483,0.00,0.00,0.00,0.33,...,0.26,0.23,1.90,0.54,1.93,2,34,116,206,Chris Richard

Dimensions:

In [7]:
df.shape

(1429, 26)

In [8]:
df.columns

Index([u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM', u'3PA', u'3P%',
       u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST', u'STL', u'BLK',
       u'PF', u'TOV', u'PTS', u'YR', u'POS', u'W', u'H', u'NAME'],
      dtype='object')

This method splits the dataset into three subsets:
Training set
Test set
Validation set

In [9]:
def train_test_val(dataframe,end):
    num_rows = dataframe.shape[0]
    #print num_rows
    row_n = num_rows*6/10
    #print row_n
    # training data dataframe
    train_data = dataframe.ix[:row_n,:end]
    print "Training set has %s rows and %s columns" %(train_data.shape[0], train_data.shape[1])
    row_m = num_rows*8/10
    #print row_m
    test_data = dataframe.ix[row_n+1:,:end]
    test_data = test_data.ix[:row_m,:end]
    print "Test set has %s rows and %s columns" %(test_data.shape[0], test_data.shape[1])
    valid_data = dataframe.ix[row_m+1:,:end]
    print "Validation set has %s rows and %s columns" %(valid_data.shape[0], valid_data.shape[1])

    return train_data, test_data, valid_data

In [10]:
train_data, test_data, valid_data = train_test_val(df,25)

Training set has 858 rows and 25 columns
Test set has 286 rows and 25 columns
Validation set has 285 rows and 25 columns

# Training Set

Dimenzije train seta

In [11]:
train_data.shape

(858, 25)

In [12]:
#train_data = train_data.ix[:,:25]
train_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,AST,STL,BLK,PF,TOV,PTS,YR,POS,W,H
0,61,3,8,1.03,2.92,0.354,0.15,0.41,0.36,0.64,...,0.93,0.41,0.02,0.89,0.92,2.85,2,12,84,191

# Training Set file:

In [13]:
train_data.to_csv("data/train_data.txt", sep="\t", header=False, index=False)

In [14]:
#train_labels = train_data.ix[:,22:]
#train_labels[:1]

In [15]:
#train_labels.to_csv("train_labels.txt", sep="\t", header=False, index=False)

# Testing Set

In [16]:
test_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,AST,STL,BLK,PF,TOV,PTS,YR,POS,W,H
858,887,331,18.4,1.57,3.81,0.412,0,0.01,0,0.78,...,0.42,0.38,1.16,2.62,0.83,3.92,1,5,107,211

Dimenzije test seta:

In [17]:
test_data.shape

(286, 25)

# Testing Set file

In [18]:
test_data.to_csv("data/test_data.txt", sep="\t", header=False, index=False)

In [19]:
#test_labels = test_data.ix[:,22:]
#test_labels[:1]

In [20]:
#test_labels.to_csv("test_labels.txt", sep="\t", header=False, index=False)

# Validation Set

In [21]:
#val_data = df.ix[row_m+1:,:23]
val_data[:1]

NameError: name 'val_data' is not defined

Dimenzije validation seta:

In [ ]:
val_data.shape

# Validation Set file

In [ ]:
test_data.to_csv("data/val_data.txt", sep="\t", header=False, index=False)

# Sets for Classification with 5 positions

In [ ]:
df5 = pd.read_csv('data5/cleaned.txt', sep='\t')

In [ ]:
df5.columns

In [ ]:
df5.shape

In [ ]:
train_data5, test_data5, val_data5 = train_test_val(df5,25)
#712*6/10
#test_data5.shape

# Training set file

In [ ]:
train_data5.to_csv('data5/train_data.txt', sep="\t", index=False)

# Testing set file

In [ ]:
test_data5.to_csv('data5/test_data.txt', sep="\t", index=False)

# Validation set file

In [ ]:
val_data5.to_csv('data5/valid_data.txt', sep="\t", index=False)

# Sets for Classification with 3 positions

In [ ]:
df3 = pd.read_csv('data3/cleaned.txt', sep='\t')

In [ ]:
df3.columns

In [ ]:
df3.shape

In [ ]:
train_data3, test_data3, valid_data3 = train_test_val(df3,25)

# Training set file

In [ ]:
train_data3.to_csv('data3/train_data.txt', sep="\t", index=False)

# Testing set file

In [ ]:
test_data3.to_csv('data3/test_data.txt', sep="\t", index=False)

# Validation set file

In [ ]:
valid_data3.to_csv('data3/valid_data.txt', sep="\t", index=False)