In [2]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

# Kako izgleda Dataset?

In [65]:
df = pd.read_csv('NBA_Stats.txt', sep='\t')
df.shape

(810, 24)

In [70]:
df.columns = ["GP", "GS", "MIN", "FGM","FGA","FG%","3PM","3PA","3P%","FTM","FTA","FT%","OFF","DEF",
              "TRB","AST","STL","BLK","PF","TOV","PTS","YR","POS","NAME"]

# Kako izgleda DataFrame?

In [71]:
df.ix[:2,:12]

    GP  GS   MIN   FGM   FGA    FG%   3PM   3PA    3P%   FTM   FTA    FT%
0   91   7   9.5  1.13  2.56  0.442  0.21  0.68  0.306  0.69  1.01  0.685
1  403  49  16.9  3.03  5.48  0.553  0.00  0.07  0.037  1.58  2.39  0.661
2    7   0   5.4  0.43  1.43  0.300  0.00  0.00  0.000  0.57  0.86  0.667

In [6]:
df.ix[:2,13:]

    DEF   TRB   AST   STL   BLK    PF   TOV   PTS  YR  POS           NAME
0  1.08  1.64  0.48  0.29  0.04  1.58  0.51  3.16   2   34    Bobby Jones
1  2.54  3.89  0.80  0.45  0.23  2.37  1.02  7.64   6    4    Craig Smith
2  1.00  1.86  0.14  0.00  0.29  0.86  0.14  1.43   1    5  Kosta Perovic

In [7]:
df_preview = df.ix[:2,:23]
df_preview

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS
0,91,7,9.5,1.13,2.56,0.442,0.21,0.68,0.306,0.69,...,1.08,1.64,0.48,0.29,0.04,1.58,0.51,3.16,2,34
1,403,49,16.9,3.03,5.48,0.553,0.00,0.07,0.037,1.58,...,2.54,3.89,0.80,0.45,0.23,2.37,1.02,7.64,6,4
2,7,0,5.4,0.43,1.43,0.300,0.00,0.00,0.000,0.57,...,1.00,1.86,0.14,0.00,0.29,0.86,0.14,1.43,1,5

# Training set

In [24]:
row_n = df.shape[0]
row_n = row_n*6/10
train_data = df.ix[:row_n,:23]
train_data.ix[:5,:23]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS
0,91,7,9.5,1.13,2.56,0.442,0.21,0.68,0.306,0.69,...,1.08,1.64,0.48,0.29,0.04,1.58,0.51,3.16,2,34
1,403,49,16.9,3.03,5.48,0.553,0.00,0.07,0.037,1.58,...,2.54,3.89,0.80,0.45,0.23,2.37,1.02,7.64,6,4
2,7,0,5.4,0.43,1.43,0.300,0.00,0.00,0.000,0.57,...,1.00,1.86,0.14,0.00,0.29,0.86,0.14,1.43,1,5
3,27,0,5.8,0.70,1.37,0.514,0.00,0.00,0.000,0.15,...,0.59,1.22,0.15,0.19,0.07,0.74,0.22,1.56,2,45
4,397,77,23.5,2.68,6.66,0.402,1.46,3.57,0.407,1.03,...,1.64,1.99,1.95,0.61,0.22,2.04,0.94,7.85,7,12
5,30,0,5.7,0.63,1.73,0.365,0.20,0.53,0.375,0.23,...,0.67,1.03,0.20,0.10,0.03,0.73,0.50,1.70,1,4

Dimenzije training seta

In [26]:
train_data.shape

(487, 23)

# Testing set

In [30]:
row_n = df.shape[0]
row_n = row_n*6/10
test_data = df.ix[row_n+1:,:23]
test_data.ix[:row_n+2,:23]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS
487,38,0,4.9,0.24,0.87,0.273,0.00,0.03,0.000,0.05,...,0.37,0.55,1.29,0.42,0.03,0.63,0.21,0.53,4,12
488,143,32,10.6,1.15,2.73,0.423,0.00,0.01,0.000,1.26,...,1.66,2.68,0.22,0.27,0.19,1.78,0.66,3.57,6,5

Dimenzije testing seta

In [28]:
test_data.shape

(324, 23)

# Čišćenje dataseta

In [35]:
df.loc[df['NAME'] == 'Jason Jennings']

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS,NAME
320,Sr,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,1,5,Jason Jennings

In [45]:
hm = df.iloc[[320]]
hm

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS,NAME
320,Sr,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,1,5,Jason Jennings

In [48]:
value = hm.iloc[0]["GS"]
value

'-'

In [58]:
remove = df[df['GS'] == "-"]
remove_index_list = list(remove.index.values)

In [61]:
df = df.drop(df.index[remove_index_list])

In [62]:
df.iloc[320]

GP               162
GS                 5
MIN             11.6
FGM             1.52
FGA             3.27
FG%            0.466
3PM             0.01
3PA             0.03
3P%            0.200
FTM             0.88
FTA             1.33
FT%            0.657
OFF             1.10
DEF             1.85
TRB             2.94
AST             0.25
STL             0.23
BLK             0.36
PF              2.00
TOV             0.67
PTS             3.93
YR                 4
POS                4
NAME    Lonny Baxter
Name: 321, dtype: object

In [64]:
df.to_csv("cleaned.txt",sep="\t")